# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#


'body':
  'cmd-k l': 'window:focus-next-pane'
  'cmd-k h': 'window:focus-previous-pane'
  'cmd-alt-2': 'pane:split-right'

'.platform-darwin atom-text-editor':
  'cmd-escape': 'script:close-view'

'atom-text-editor:not([mini])':
  'cmd-e': 'emmet:expand-abbreviation'

'.platform-darwin atom-workspace':
  'cmd-escape': 'build:toggle-panel'

'atom-text-editor[data-grammar~="JavaScript"]:not([mini])':
    'cmd-e': 'emmet:expand-abbreviation-with-tab'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson
