@import 'colors';

:root {
  --color-bg: #10101B;
  --color-text-em: #16F;
  --color-text-transparent: rgba(220,220,255,0.2);
  --gradient-main: linear-gradient(to right, @grey-dark, @grey);
  --font-main: "Source Code Pro", Helvetica, sans-serif;
}

.title-bar {
  background: @grey-dark;
  padding: 1.3em;

  & > .title {
    font-family: var(--font-main);
    color: @grey;
    -webkit-font-smoothing: auto;
  }
}

.tab-bar {
  background: #0C0C16;
  -webkit-font-smoothing: auto;

  .tab {
    .close-icon:hover {
      background-color: @blue;
    }

    .title {
      background: 0;
    }

    &::before {
      display: none;
    }
  }
}

.item-views {
  background: #0C0C16;
}

.status-bar {
  background: @grey-dark;
  font-size: 1em;
  color: @grey-middle;

  .current-path,
  .inline-block,
  .icon-gear:before {
    color: @grey-middle;

    a:hover {
      color: @md-cyan;
    }
  }
}

.tooltip {
  @tooltip-color: @md-cyan;

  &.top .tooltip-arrow {
    border-top-color: @tooltip-color;
  }

  &.bottom .tooltip-arrow {
    border-bottom-color: @tooltip-color;
  }

  &.left .tooltip-arrow {
    border-left-color: @tooltip-color;
  }

  &.right .tooltip-arrow {
    border-right-color: @tooltip-color;
  }

  .tooltip-inner {
    background: @tooltip-color;
  }
}

.underline-cursor {
  background-color: @blue;
}

atom-text-editor::shadow {
  .bracket-matcher {
    position: absolute;
    border-bottom: 1px dotted rgba(30, 100, 255, 0.9);
  }
}

.tree-view {
  background-color: @grey-dark;

  &::before {
    display: none;
  }

  .selected::before {
    background: @grey-dark;
  }
}

// Style the background and foreground colors on
// the atom-text-editor-element itself
atom-text-editor {
  -webkit-font-smoothing: subpixel-antialiased;
  // -webkit-font-smoothing: grayscale;
}

// To style other content in the text editor's shadow DOM, use the ::shadow
// expression
atom-text-editor::shadow {
}

// Vim-mode customization
atom-text-editor.vim-mode.normal-mode {
  &::shadow, & {
    .cursor {
      background-color: transparent !important;
      border-bottom: 2px solid @blue !important;
      opacity: 1 !important;
    }
  }
}

.list-group li.list-nested-item.status-added > .list-item,
.list-tree li.list-nested-item.status-added > .list-item,
.list-group li:not(.list-nested-item).status-added,
.list-tree li:not(.list-nested-item).status-added {
  position: relative;
  color: @grey-middle !important;

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 10px);
    right: calc(100% + 1px);
    width: 5px;
    height: 5px;
    background: @md-green;
    border-radius: 10px;
  }
}

.list-group li.list-nested-item.status-modified > .list-item,
.list-tree li.list-nested-item.status-modified > .list-item,
.list-group li:not(.list-nested-item).status-modified,
.list-tree li:not(.list-nested-item).status-modified {
  position: relative;
  color: @grey-middle !important;

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 10px);
    right: calc(100% + 1px);
    width: 5px;
    height: 5px;
    background: @md-amber;
    border-radius: 10px;
  }
}

.list-group li.list-nested-item.status-ignored > .list-item,
.list-tree li.list-nested-item.status-ignored > .list-item,
.list-group li:not(.list-nested-item).status-ignored,
.list-tree li:not(.list-nested-item).status-ignored {
  color: @grey;
}


.list-group li.list-nested-item > .list-item,
.list-tree li.list-nested-item > .list-item,
.list-group li:not(.list-nested-item),
.list-tree li:not(.list-nested-item){
  color: @grey-middle;
}

.status-modified {
  color: @md-amber;
}

.status-added {
  color: @md-green;
}

.status-ignored {
  color: @grey;
}
